configuration {
  font: "JetBrainsMono Nerd Font 12";
  modes: "drun,run,window";
  fixed-num-lines: false;
  show-icons: true;
  icon-theme: "Papirus";
  eh: 1;
  dpi: 100;
  drun-display-format: "{icon} {name}";
  display-drun: "  ";
  display-window: "  ";
  display-run: "  ";
  display-filebrowser: " 󱧷 ";
  location: 0;
}

@theme "/dev/null"
@theme "~/.config/rofi/theme.rasi"
