/* Change colors.css to tokyonight.css to use tokyonight colorscheme */
/*                                          instead of using matugen */
@import "./colors.css";

* {
  font-family: "JetBrainsMono NF";
  font-size: 12px;
}

window {
  background: @surface_container;
}

#workspaces,
#pulseaudio,
#clock,
#cpu,
#memory,
#network,
#language,
#custom-power {
  padding: 0 8px;
  margin-right: 8px;
  color: @on_surface;
}

#workspaces button {
  background: transparent;
  color: @on_surface_variant;
  margin: 0;
  padding: 0 6px;
  border-radius: 0;
}

#workspaces button.focused {
  color: @primary;
  border-bottom: 2px solid @primary;
}

#pulseaudio {
  color: @primary;
  border-bottom: 2px solid @primary;
}

#network {
  color: @tertiary;
  border-bottom: 2px solid @tertiary;
}

#cpu {
  color: @secondary;
  border-bottom: 2px solid @secondary;
}

#memory {
  color: @primary;
  border-bottom: 2px solid @primary;
}

#language {
  color: @secondary;
  border-bottom: 2px solid @secondary;
}

#clock {
  color: @tertiary;
  border-bottom: 2px solid @tertiary;
}

#custom-power {
  color: @error;
  border-bottom: 2px solid @error;
}
