@define-color color0 #1a1b26;
@define-color color15 #c0caf5;
@define-color color1 #f7768e;
@define-color color2 #e0af68;
@define-color color3 #ff9e64;
@define-color color4 #9ece6a;
@define-color color5 #73dacb;
@define-color color6 #7aa2f7;
@define-color color7 #bb9af7;
@define-color color8 #cfc9c2;
