@define-color background              #1a1b26;
@define-color surface                 #1a1b26;
@define-color surface_container       #1a1b26;
@define-color on_surface              #c0caf5;
@define-color on_surface_variant      #cfc9c2;
@define-color primary                 #9ece6a;
@define-color secondary               #7aa2f7;
@define-color tertiary                #73dacb;
@define-color error                   #f7768e;
@define-color primary_container       #bb9af7;
@define-color secondary_container     #e0af68;
@define-color tertiary_container      #73dacb;
@define-color on_primary_container    #1a1b26;
@define-color on_secondary_container  #1a1b26;
@define-color on_tertiary_container   #1a1b26;
